.home {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.search_form{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.post_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.post_into{
  flex: 1;
}
.btn{
  background-color: black;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}